<li class='list-group-item'>
  {{#if cvResult.lion}}
    Lion: {{cvResult.lion.name}}
  {{else}}
    {{#if cvResult.imageSet}}
      Image Set: {{cvResult.imageSet.id}}
    {{/if}}
  {{/if}}
  {{cvResult.percent}} %
</li>
