<input type="file" multiple>

{{#lg-progress-bar percent=percentComplete as |humanPercent|}}
  {{round-number humanPercent}}%
{{/lg-progress-bar}}

{{#if error}}
<div class="alert alert-danger">
  There was an error. {{errorMessage}}
</div>
{{/if}}

{{yield uploads}}
