<input class='file-input' type="file" multiple>

{{#if showProgress}}
  {{#lg-progress-bar percent=percentComplete as |humanPercent|}}
    {{round-number humanPercent}}%
  {{/lg-progress-bar}}
{{/if}}

{{#if error}}
<div class="alert alert-danger">
  There was an error. {{errorMessage}}
</div>
{{/if}}

{{yield uploads}}
