<div class='image-gallery col-sm-12'>
  <div class='gallery-header'>
    <h3> Image Gallery</h3>
  </div>

  <div class='scrollable-gallery'>
    {{#each imageSet.images as |image|}}
      {{lg-image-controller image=image
        imageTypes=imageTypes
        editingEnabled=editingEnabled
        makeMainImage='makeMainImage'
        deleteImage='deleteImage'
        saveImageSet='saveImageSet'
      }}
    {{/each}}
  </div>
  <div class='scroll-arrows'>
    <span class='glyphicon glyphicon-chevron-right'></span>
  </div>
</div>
