<ul>
  <li>{{input type='text' placeholder='Name' value=selectedName}}</li>
  <li>Gender: {{view 'select' classNames='lg-lion-search-gender' content=genders value=selectedGender}}</li>
  <li>Organization: {{view 'select' content=searchOrganizations value=selectedOrganization optionValuePath='content' optionLabelPath='content.name'}}</li>
</ul>

<a href='#' class='lion-search' {{action 'search'}}>Search</a>
