<div class='mini-image-gallery col-sm-12'>
  <div class='scrollable-gallery col-sm-12'>
    {{#each imageSet.images as |image|}}
      <div class='mini-image-gallery-image'>
        <img {{bind-attr src=image.url}}>
      </div>
    {{/each}}
  </div>
  <div class='scroll-arrows'>
    <span class='glyphicon glyphicon-chevron-right'></span>
  </div>
</div>
