<div class='row mini-image-gallery col-sm-12'>
  <div class='col-sm-2'>
    {{view 'select' class='form-control' content=imageTypes value=selectedImageType}}
  </div>
  {{#if hasFilteredImages}}
    <div class='scrollable-gallery col-sm-10'>
      {{#each filteredImages as |image|}}
        {{#lg-selectable model=image activeModel=selectedImage action='selectImage' classNames='mini-image-gallery-image'}}
          <img {{bind-attr src=image.thumbnailUrl}}>
        {{/lg-selectable}}
      {{/each}}
    </div>
  {{else}}
    <div class='empty-scroll-message col-sm-10'>
      No images match the requested category. Please choose a new category.
    </div>
  {{/if}}
</div>
