$lg-orange: #DB5300;
$lg-light-orange: #EE7F00;
$active-row-yellow: #F5E961;

@import "bootstrap";
@import "components";
@import "image-sets";

@import "components/lg-google-map";
@import "components/lg-image-gallery";
@import "components/lg-image-set-summary";
@import "components/lg-lion-associator";
@import "components/lg-lion-search";
@import "components/lg-mini-image-gallery";


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body > .ember-view {
  position: relative;
  min-height: 100%;
}

.content {
  padding-bottom: 70px;
}

.footer {
  border-top: 1px solid #E7E7E7;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #F8F8F8;
}

.login {
  height: 400px;
  width: 500px;
  margin: 50px auto;

  .lion-guardians-logo, .login-form {
    display: inline-block;
    width: 250px;
  }

  .lion-guardians-logo .logo {
    width: 175px;
    margin: 0 40px;
  }

  .login-form {
    float: right;

    .alert-danger {
      margin-top: 20px;
    }
  }

  .input-group {
    margin-bottom: 20px;
    width: 100%;
  }

  .login-button-wrapper {
    height: 40px;
  }

  .login-button {
    float: right;
    border-radius: 30px;
    background-color: $lg-light-orange;
    width: 110px;
    font-weight: bold;
  }
}

.navbar {
  .navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    color: $lg-orange;
  }

  li.no-link-nav-el {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.primary-image-set {
  color: $lg-orange;
}

.image-set-header {
  position: relative;

  .image-set-title {
    width: 50%;
  }

  .image-set-save-or-delete {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.image-thumbnail {

  img, .no-main-image {
    border: 1px solid black;
    border-radius: 5px;
    height: 160px;
  }

  .no-main-image {
    width: 160px;
    text-align: center;
    line-height: 160px;
    color: #CCC;
  }
}

.image-thumbnail-tiny {
  img, .no-main-image {
    border: 1px solid black;
    border-radius: 5px;
    height: 100px;
  }
}

.main-image {
  margin-top: 20px;

  img, .no-main-image {
    border: 1px solid black;
    border-radius: 5px;
    height: 300px;
  }

  .no-main-image {
    width: 300px;
    text-align: center;
    line-height: 300px;
    color: #CCC;
  }
}

.metadata-panel {
  display: inline-table;
  position: relative;
  margin-top: 20px;
  height: 425px;

  &.lion {
    height: 400px;
  }

  &.is-editing {
    height: 775px;
  }

  .edit-save-button {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 35px;
    padding-right: 10px;
  }
}

.upload-options {
  display: inline-block;
  margin-top: 20px;
  width: 250px;

  .public-option {
    display: inline-block;
  }

  .public-private {
    display: inline-block;
    margin-left: 30px;
  }

  select {
    display: inline-block;
    width: 150px;
    margin-left: 15px;
  }
}

.file-input {
  padding-bottom: 5px;
  line-height: 20px;
}

.selectable-row.active {
  text-weight: bold;

  .list-group-item, {
    border: 1px solid black;
    background-color: $active-row-yellow;
  }
}

.search-panel {
  height: 190px;
}

.list-group-item-small {
  position: relative;
  display: block;
  padding: 5px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.lg-page-header {
  margin-bottom: 20px;

  .page-title {
    font-size: 30px;
    font-weight: bold;
  }

  .page-summary {
    color: #555;
    font-size: 16px;
  }
}

.search-results-count {
  font-size: 16px;
  margin-bottom: 20px;
}

.lg-dob-search-selector, .lg-dob-selector {
  display: inline-block;
}

.error {
  border: 1px solid red;
  color: red;
  padding: 20px;
}

.btn-lion-guardians {
  background-color: $lg-light-orange;
}

.status-message {
  border: 1px solid green;
  color: green;
}

.cv-result-viewer {
  padding: 0 15px;
  margin-top: -15px;

  .results-count {
    margin-bottom: 10px;

    h4 {
      padding-left: 10px;
    }
  }
}

.lion-image-sets {
  margin-top: 30px;
  margin-left: 0;
}

.image-set-list, .lion-summary-list, .cv-result-list {
  border-radius: 5px;
  border: 1px solid #DDD;
  padding: 0;

  .image-set-body, .lion-summary-body {
    overflow: auto;
  }

  .image-set-body {
    max-height: 350px;
  }

  .lion-summary-body {
    max-height: 450px;
  }

  .row.selectable-row {
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0;
    border-bottom: 1px solid #DDD;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:active, &:hover {
      background-color: #DCDCDC;
    }
  }

 .row.selectable-row.active {
    background-color: $active-row-yellow;
  }

  .heading {
    border-bottom: 1px solid #DDD;
  }

  .heading {
    background-color: #F5F5F5;
    padding: 10px 15px;
    font-weight: 500;
  }

}

.active-lion-metadata {
  margin-bottom: 40px;
}

.lion-control-panel, .image-set-control-panel, .lion-associator-control-panel {
  border: 1px solid #DCDCDC;
  background-color: #EEE;
  border-radius: 5px;

  margin-bottom: 20px;
}

.lion-associator-control-panel .control-panel-header {
  margin-bottom: 10px;
}

.control-panel-header {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  padding-top: 10px;
}

.control-panel-body {
  padding: 10px 0;
}

.control-panel-grouping, .control-panel-buttons {
  display: inline-block;
}

.control-panel-grouping {
  padding: 0;
  margin-top: -5px;
  text-align: center;

  &.single-row {
    text-align:right;
    line-height: 30px;
    margin-top: 0;
  }
}

.control-panel-column {
  padding: 0 15px 15px 15px;

  div {
    padding: 0;
  }

  div:first-child {
    font-weight: 500px;
    font-size: 14px;
  }

}

.lion-management-button {
  display: inline-block;
  vertical-align: top;
}

.create-fields {
  display: inline-block;

  .name-input {
    display: inline-block;
    vertical-align: top;
    margin-top: -2px;
  }
}

.create-buttons {
  display: inline-block;

  button {
    display: block;
  }

  .create-lion {
    margin-top: -10px;
    margin-bottom: 5px;
  }
}
