$lg-orange: #DB5300;
$lg-light-orange: #EE7F00;
$active-row-yellow: #F5E961;

@import "bootstrap";
@import "components";
@import "image-sets";

@import "components/lg-google-map";
@import "components/lg-lion-associator";
@import "components/lg-image-gallery";
@import "components/lg-image-set-summary";
@import "components/lg-mini-image-gallery";
@import "components/lg-lion-search";


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body > .ember-view {
  position: relative;
  min-height: 100%;
}

.content {
  padding-bottom: 70px;
}

.footer {
  border-top: 1px solid #E7E7E7;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #F8F8F8;
}

.login {
  height: 400px;
  width: 500px;
  margin: 50px auto;

  .lion-guardians-logo, .login-form {
    display: inline-block;
    width: 250px;
  }

  .lion-guardians-logo .logo {
    width: 175px;
    margin: 0 40px;
  }

  .login-form {
    float: right;

    .alert-danger {
      margin-top: 20px;
    }
  }

  .input-group {
    margin-bottom: 20px;
    width: 100%;
  }

  .login-button-wrapper {
    height: 40px;
  }

  .login-button {
    float: right;
    border-radius: 30px;
    background-color: $lg-light-orange;
    width: 110px;
    font-weight: bold;
  }
}

.navbar {
  .navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    color: $lg-orange;
  }

  li.no-link-nav-el {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.image-set-header {
  position: relative;

  .image-set-title {
    width: 50%;
  }

  .image-set-save-or-delete {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.image-thumbnail {

  img, .no-main-image {
    border: 1px solid black;
    border-radius: 5px;
    height: 160px;
  }

  .no-main-image {
    width: 160px;
    text-align: center;
    line-height: 160px;
    color: #CCC;
  }
}

.main-image {
  margin-top: 20px;

  img, .no-main-image {
    border: 1px solid black;
    border-radius: 5px;
    height: 300px;
  }

  .no-main-image {
    width: 300px;
    text-align: center;
    line-height: 300px;
    color: #CCC;
  }
}

.metadata-panel {
  position: relative;
  margin-top: 20px;
  height: 400px;

  .edit-save-button {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 35px;
    padding-right: 10px;
  }
}

.upload-options {
  display: inline-block;
  margin-top: 20px;
  width: 250px;

  .public-option {
    display: inline-block;
  }

  .public-private {
    display: inline-block;
    margin-left: 30px;
  }

  select {
    display: inline-block;
    width: 150px;
    margin-left: 15px;
  }
}

.file-input {
  padding-bottom: 5px;
  line-height: 20px;
}

.selectable-row.active {
  text-weight: bold;

  .list-group-item, {
    border: 1px solid black;
    background-color: $active-row-yellow;
  }
}

.error {
  border: 1px solid red;
  color: red;
  padding: 20px;
}

.btn-lion-guardians {
  background-color: $lg-light-orange;
}

.status-message {
  border: 1px solid green;
  color: green;
}

.cv-result-viewer {
  padding: 0 15px;

  .spaced-out .list-group-item {
    margin-bottom: 10px;
  }
}
