
.image-summary {
  margin-top: 20px;

  .panel {
    position: relative;
  }

  .lg-image-set-summary-link {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 35px;
    padding-right: 10px;
  }
}

