
.status-badge {
  font-weight: 400;

  &[class*="Unverified"] {
    background-color: #D9534F;
  }

  &[class*="Verified"] {
    background-color: #5CB85C;
  }

  &[class*="Pending"] {
    background-color: yellow;
    color: black;
  }

  &[class*="Results"] {
    background-color: #5CB85C;
  }

}

.right-panel {
  padding-right: 0;
}

.active-image-set-panel {
  border: 1px solid $active-row-yellow;
  border-radius: 5px;
  background-color: #DCDCDC;
  padding: 15px;

  .active-image-header {
    text-align: center;
    padding-bottom: 10px;
  }

  .active-image-thumbnail {
    img {
      border: 1px solid black;
      border-radius: 5px;
      width: 332px;
    }
  }
}
