<h2>Lion Search</h2>
{{lg-lion-search action='search' organizations=organizations}}

{{#if model}}
  <h3>Results</h3>
  {{#each model as |lion|}}
    {{lg-lion-summary lion=lion}}
  {{/each}}
{{/if}}
