<h2>Lion Search</h2>
{{lg-lion-search action='displayResults' organizations=organizations store=store}}

{{#if model}}
  <h3>Results</h3>
  <div class='row'>
    <button type="button"
            {{action 'viewLion' activeLion}}
            {{bind-attr class=":btn :btn-primary :view-lion"}}>View/Edit</button>
  </div>

  {{#each model as |lion|}}
    {{#lg-selectable model=lion activeModel=activeLion action='selectLion' classNames="row"}}
      {{lg-lion-summary lion=lion}}
    {{/lg-selectable}}
  {{/each}}
{{/if}}
