$summary-height: 310px;
$gallery-height: 100px;
$small-thumbnail-height: 120px;

$hero-image-height: 300px;

.image-summary {
  background-color: #DDD;
  border-radius: 5px;
  padding: 10px;
  height: $summary-height;
  margin-top: -20px;
  margin-bottom: 40px;

  &.hero-gallery {
    height: $summary-height * 1.5;
    margin-top: 0;

    .hero-image {
      height: $hero-image-height;
      width: $hero-image-height;
      overflow: hidden;
      margin-bottom: 10px;

      img {
        border: 1px solid black;
        border-radius: 5px;
        height: $hero-image-height;
        width: 100%;
      }
    }
  }

  .small-image-thumbnail {
    height: $small-thumbnail-height;
    width: $small-thumbnail-height;
    overflow: hidden;

    img, .no-main-image {
      border: 1px solid black;
      border-radius: 5px;
      height: $small-thumbnail-height;
      width: 100%;
    }

    .no-main-image {
      width: $small-thumbnail-height;
      text-align: center;
      line-height: $small-thumbnail-height;
      color: #CCC;
    }
  }

  .metadata-and-selected {
    margin: 4px;
  }

  .image-set-summary-details {
    background-color: white;
  }

  .view-edit-button {
    margin-top: 25px;

    button:first-child {
      margin-bottom: 20px;
    }
  }

}
