$gallery-height: 300px;

.image-gallery {
  border-radius: 5px;
  background-color: #CDCDCD;
  padding-right: 0;

  .gallery-header {
    display: inline-block;
  }
  .scrollable-gallery {
    padding-right: 40px;
    height: $gallery-height;
    margin-top: 20px;
  }

  .image-gallery-image {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;

    img {
      border: 1px solid black;
      height: 150px;
    }

    .image-properties {
      padding-top: 20px;
      width: 150px;
    }

    .public-private {
      padding-left: 30px;
    }

  }
}

.scrollable-gallery {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scroll-arrows {
  background-color: rgba(122, 122, 122, 0.5);
  position: absolute;
  height: 100%;
  line-height: 100%;
  color: #000;
  right: 0;
  top: 0;
}
