.lg-lion-associator {
  display: inline-block;

  &.row {
    width: 100%;
  }
}

.associate-fields {
  display: inline-block;

  .id-input {
    display: inline-block;
    vertical-align: top;
    margin-top: -2px;
    width: 100px;
  }
  .associate-buttons {
    margin: 0 20px 20px 0;
    font-weight: bold;
  }

  .form-control {
    display: inline-block;
    font-weight: normal;
    vertical-align: top;
  }

  .btn-lion-guardians {
    margin-bottom: 10px;
  }
}

.image-set-summary-name {
  margin: -20px 0 20px 0;
}

.lg-lion-associator .control-panel-grouping {
  &.single-row {
    margin-top: -5px;
    line-height: 1.25em;
  }
}
