.filter-instructions {
  margin-top: 35px;
}

.search-param-input {
  height: 40px;
  line-height: 20px;

  input {
    height: 20px;
  }
}

.search-button {
  margin-top: 110px;

  .results-count {
    margin-top: 15px;
  }
}


.results-count {
  display: inline-block;

  h3, h4 {
    display: inline-block;
  }
}
