$mini-gallery-height: 100px;

.mini-image-gallery {
  height: $mini-gallery-height;

  .mini-image-gallery-image {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    height: $mini-gallery-height;

    &:first-child {
      margin-left: 0;
    }

    img {
      border: 1px solid black;
      border-radius: 5px;
      height: $mini-gallery-height;
    }
  }

  .scrollable-gallery {
    height: $mini-gallery-height;
  }

  .scroll-arrows {
    width: 20px;
    right: -5px;
    border-radius: 0 5px 5px 0;

    .glyphicon {
      margin-top: $mini-gallery-height / 2 - 10px;
    }
  }

  .empty-scroll-message {
    line-height: $mini-gallery-height - 40px;
    border: 1px solid #AAA;
    border-radius: 5px;
    padding: 20px;
  }
}
