<h3>CV Results</h3>

<div class='row'>
  <div class='col-sm-4'>
    <ul class='list-group'>
      {{#each model as |cvResult|}}
        {{lg-cv-result-summary cvResult=cvResult action='setActiveCvResult'}}
      {{/each}}
    </ul>
  </div>

  <div class='col-sm-4'>
    {{lg-lion-associator activeLion=activeLion
      activeImageSet=activeImageSet
      imageSet=imageSet
      createLion='createLion'
      associate='associate'}}
  </div>
</div>
