<div class="container">
  <div class="row">
    You are now logged in as <b>{{toriiSession.currentUser.email}}</b>.

    Your organization is: <b>{{toriiSession.currentUser.organization.name}}</b>.
  </div>
</div>
