<div class='image-set-header'>
  <div class='image-set-title'>
    <h2>Image Set</h2>
  </div>
  <div class='image-set-save-or-delete'>
    <button class='btn btn-primary btn-large' type='button' {{action 'saveImageSet'}}>
      Save Image Set
    </button>
    <button class='btn btn-danger btn-large' type='button' {{action 'deleteImageSet'}}>
      Delete Image Set
    </button>
  </div>
</div>

<div class='row'>
  {{lg-image-set-editor
    imageSet=model
    editingEnabled=true
    organizations=organizations}}
</div>

{{outlet}}
